certifi
chardet
defusedxml
Django
django-bootstrap-form
django-extensions
django-gravatar2
djangorestframework
docopt
docutils
ecdsa
future
idna
jmespath
oauthlib
pathspec
pyasn1
PyJWT
PyMySQL
python-dateutil
python-jose
python-social-auth
python3-openid
pytz
PyYAML
requests
requests-oauthlib
rsa
semantic-version
six
social-auth-app-django
social-auth-core
sqlparse
texttable
urllib3
virtualenv
wcwidth
websocket-client
