packages:
  yum:
    gettext: []
    graphviz-devel: []
container_commands:
  00_enable_gzip_apache:
    command: "cp .ebextensions/enable_mod_deflate.conf /etc/httpd/conf.d/enable_mod_deflate.conf"
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  03_chown_db:
    command: "if [ -f db.sqlite ]; then chown -f wsgi db.sqlite*; fi"
    leader_only: true
  04_loaddata_games:
    command: "python manage.py loaddata 00_games"
    leader_only: true
  05_loaddata_countries:
    command: "python manage.py loaddata 01_countries"
    leader_only: true
  06_loaddata_groups:
    command: "python manage.py loaddata 02_groups"
    leader_only: true
  07_loaddata_subcamps:
    command: "python manage.py loaddata 03_subcamps"
    leader_only: true
  08_loaddata_patrols:
    command: "python manage.py loaddata 04_patrols"
    leader_only: true
  09_collectstatic:
    command: "python manage.py collectstatic --noinput"
  10_translations:
    command: "django-admin compilemessages"
