option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: pfadi.settings
  aws:elasticbeanstalk:container:python:
    StaticFiles: /static/=static/
    WSGIPath: pfadi/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
