{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Group" %}{% endblock %}
{% block body_block %}
{% load gravatar %}
{% load bootstrap %}
<section id="content_body">
    <div class="container">
        <div class="row">
            <div class="col-md-3 columns">
              {% include 'profile_subnav.html' %}
            </div>
            <div class="col-md-9 columns">
                  <div class="row">
                    <div class="col-md-5">
                      <legend>{% trans "Account" %}</legend>
                      <div class="form">
                        <form role="form" class="form" action="" method="post">
                          {% csrf_token %}
                          <div class="form-group">
                            <label>{% trans 'First name' %}:</label>
                            <div class="form-group input-group" style="width:100%;">{{ user.first_name }}</div>
                          </div>
                          <div class="form-group">
                            <label>{% trans 'Last name' %}:</label>
                            <div class="form-group input-group" style="width:100%;">{{ user.last_name }}</div>
                          </div>
                          <div class="form-group">
                            <label>{% trans 'Username' %}:</label>
                            <div class="form-group input-group" style="width:100%;">{{ user.username }}</div>
                          </div>
                          <div class="form-group">
                            <label>{% trans 'Email' %}:</label>
                            <div class="form-group input-group" style="width:100%;">{{ user.email }}</div>
                          </div>
                          <div class="form-group">
                            <label>{% trans 'Avatar (from Libravatar)' %}:
                              <br/><a style="font-size:9px;" href="{% gravatar_profile_url user.email %}">{% trans 'Change' %}</a>
                            </label>
                            <div class="form-group input-group" style="width:100%;"><img src="{% gravatar_url user.email %}"/></div>
                          </div>
                        </form>
                      </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>

{% endblock %}
