{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Terms of service" %}{% endblock %}
{% block body_block %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading"><b>Terms of service</b></div>
        <div style="padding-left:40px; padding-right:40px; padding-top:20px;">
          <p>
            <b>General terms of use</b>
          </p>
          <p align="justify">
            Unless otherwise stated on any of the sites these terms of use (TOS) apply to all of the products,
            services and websites (hereinafter referred to as "services") offered by
            EOF Media Consult, (hereinafter referred to as Media Consult, MC or we/us),
            registration number: 45691d, Boschanstra&szlig;e 3/WH-U2, 2483 Weigelsdorf, Austria or its subsidiaries.
          </p>

          <p>
            <b>1. Information sites (hereinafter referred to as Media Consult/site(s))</b>
          </p>
          <p class="text-justify">
            Although the information on this here is presented in good faith and believed to be correct,
            EOF Media Consult makes no representations or warranties as to the completeness or accuracy
            of any information. In no event will Media Consult be responsible for any damages of any sort,
            including indirect, incidental, or consequential damages, arising out of the use of its internet
            site or reliance on the information available on its internet site.
            <br/>
            <br/>
            The information here is protected worldwide by copyright or other intellectual property laws.
            No use of any information may be made without prior, written authorisation of the relevant
            owners. You may not use Media Consult's name or any material contained on the Media Consult
            sites to imply endorsement, sponsorship, or affiliation with Media Consult in any manner
            without prior written authorisation. You should not construe the information on
            this site as a recommendation for the use or manufacture of any product, process, equipment
            or formulation. Media Consult makes no representation or warranty; either expressed or implied,
            that such use or manufacture will not infringe the property of another.
            <br/>
            <br/>
            The content (text, images, etc.) on this and any other pages of this web site as well as the
            design of these pages are protected by copyright. Media Consult reserves all rights, especially
            the right to reproduction, distribution, provision and translation of this content. No part of
            these pages may be reproduced or stored, edited, processed, copied, distributed or made available
            electronically in any form or by any means whatsoever without the written consent of EOF Media Consult.
            <br/>
            <br/>
            This site provides links to other site solely for your convenience, as pointers to information that
            may be useful to users. Media Consult has no control over the content on other sites. If you use the
            links on that site which go to other sites, we make no warranties concerning the content of those sites,
            that those sites are free from claims of copyright, trademark, or other infringement, or that those
            sites adhere to an appropriate privacy policy. Media Consult does not endorse, sanction, or verify
            the information that is provided on linked sites. Unless otherwise specifically indicated, we have no
            affiliation with any other organisation mentioned or described on our sites.
            <br/>
            <br/>
            NO REPRESENTATIONS OR WARRANTIES, EITHER EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A
            PARTICULAR PURPOSE OR OF ANY OTHER NATURE ARE MADE HEREUNDER WITH RESPECT TO INFORMATION OR TO
            ANY PRODUCTS TO WHICH INFORMATION REFERS.
            <br/>
            <br/>
            The information contained on our sites and our policies and disclaimers concerning your access to
            and use of the site are subject to change, and MC reserves the right to modify them at any time
            without notice. Although every effort is made to present current and accurate information,
            Media Consult makes no commitment to update or correct any information that appears on our sites.
          </p>

          <p>
            <b>2. Content</b>
          </p>
          <p class="text-justify">
            For content made accessible on our sites any relevant license agreement shall apply.
            <br/>
            <br/>
            MC PROVIDES ALL DATA AND CONTENT "AS-IS" AND MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND,
            EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING, WITHOUT LIMITATION, WARRANTIES OF TITLE,
            MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NONINFRINGEMENT, ACCURACY, OR THE PRESENCE
            ERRORS, OR LATENT OR OTHER DEFECTS, WHETHER OR NOT DISCOVERABLE.
          </p>

          <p>
            <b>4. Postings and uploads</b>
          </p>
          <p align="justify">
            Portions of our sites may allow users to post or upload their own material. The materials posted
            or uploaded by users do not necessarily reflect our views.
            <br/>
            <br/>
            User Declaration: By posting or uploading materials to any MC site, you represent that you have
            all necessary rights in and to such materials, and that such materials will not infringe on any
            personal or proprietary rights of any third parties, nor will such materials be harmful,
            defamatory, unlawful, threatening, obscene, lewd, lascivious, harassing, or otherwise objectionable.
            <br/>
            <br/>
            MC reserves the right, at its sole discretion, to review, edit, or delete any material posted or
            uploaded by users that MC for any reason whatsoever determines as being harmful, defamatory,
            unlawful, threatening, obscene, lewd, lascivious, harassing, potentially in violation of any
            party's rights, or otherwise objectionable.
            <br/>
            <br/>
            NOTWITHSTANDING THE FOREGOING, MC EXPRESSLY DISCLAIMS ANY RESPONSIBILITY OR LIABILITY FOR ANY
            MATERIAL COMMUNICATED BY THIRD PARTIES THROUGH THIS WEB SITE.
            <br/>
            <br/>
            By posting or uploading information and materials to any of our sites, you authorise MC to use,
            and authorise others to use any such materials in any manner or medium.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
